<main class="cardView">
    <div class="col-4 mx-auto cardView">
    <h5>Deck card</h5>
    <div class="card-box card">
        <div class="deck-thumbnail">
            <img src="{{deck.deckImage}}" class="img-fluid deckimage" alt="Deck Image">
        </div>
        <h3 class="name">{{deck.deckName}}</h3>
        <p class="deckdescription">Description: {{deck.deckDescription}}</p>
        <p class="decktags">Tags: 
            {{#each deck.tags}}
                <a href="/search?search={{this}}">{{this}}</a>
            {{/each}}</p>
        </p>
        <p class="crdratings">Rating: <br>{{{deck.stars}}}</p>

        {{#if creator}}
        <a href="/editDeck/{{deck._id}}" class="btn btn-primary edit">Edit Deck</a>
        <a href="/deleteDeck/{{deck._id}}" class="btn btn-primary delete">Delete Deck</a>
        {{/if}}
    </div>
    </div>

    <h5>Cards within the deck</h5>

    {{#if cards}}
    <div class="container">
        <div class="row mx-auto">
            {{#if loggedIn}}
                {{#each cards}}
                {{> cardDivLoggedIn card = this}}
                {{/each}}
            {{else}}
                {{#each cards}}
                {{> cardDiv card = this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{/if}}
</main>